<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员基本信息</title>
</head>
<body>
<form>
    <fieldset>
        <fieldset>
            7.目前您做什么什么工作:<br>
            <br/>
            <input type="radio" name="job1" value="公司名称">在<input type="text" size="30">公司作为一名领薪水的雇员<br>
            <input type="radio" name="job2" value="企业名称">从<input type="text" size="30">企业下岗<br>
            <input type="radio" name="job3" value="务农">务农，主要供自己消费<br>
            <input type="radio" name="job4" value="务农">务农，也出售商品<br>
            <input type="radio" name="job5" value="经商">全日经商<br>
            <input type="radio" name="job6" value="经商">部分时间经商<br>
            <input type="radio" name="job7" value="其他">其他，请说明<input type="text" size="30"><br>
            <br/>
        </fieldset>
        <fieldset>
            8.您是否有具体可行的企业想法？<br>
            <input type="radio" name="thought1" value="还没有">还没有<br>
            <input type="radio" name="thought2" value="有">有，请说明<input type="text" size="30"><br>
            <br/>
            8.1请说明您为什么要创办企业：<br>
            <textarea rows="10" cols="30">
            </textarea><br>
            <br/>
            8.2您打算何时创办企业？<br>
            <input type="date" name="year">年<input type="date" name="month">月<br>
            <br/>
        </fieldset>
        <fieldset>
            9.您是否有您想创办企业所需的技术技能？<br>
            <input type="radio" name="thought3" value="没有">没有<br>
            <input type="radio" name="thought4" value="有">有，请说明<input type="text" size="30"><br>
            <br/>
        </fieldset>
    </fieldset>
    <p align="center">
        <input type="button" name="button1" value="上一步">
        <input type="button" name="button2" value="下一步">
    </p>
</form>
</body>
</html>