<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link th:src="@{/css/menu.css}" rel="stylesheet"/>
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a   href="#">机构简介</a>
                <ul>
                    <li><a href="http://xnu.edu.cn" target="menu2">湘南学院</a></li>
                    <li><a href="#" target="menu2">北湖区</a></li>
                    <li><a href="#" target="menu2">苏仙区</a></li>
                </ul>
            </li>
            <li><a  href="#">登录</a></li>
        </ul>
    </div>
    <div id="two">
        <iframe style="height:100%; width:100%; border:0px; " name="menu2"></iframe>
    </div>
</body>
</html>