<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="menu.css" rel="stylesheet"/>
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="#" id="three">首页</a></li>
            <li><a   href="#" id="two">机构简介</a>
                <ul>
                    <li><a href="http://www.xnu.edu.cn" target="menu2">湘南学院</a></li>
                    <li><a href="#" target="menu2" >北湖区</a></li>
                    <li><a href="#" target="menu2">苏仙区</a></li>
                </ul>
            </li>
            <li><a href="welcome.html" target="menu2" id="four">登录</a></li>
        </ul>
    </div>
    <div id="one">
        <iframe style="height:100%; width:100%; border:0px; " name="menu2"></iframe>
    </div>
</body>
</html>