<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录</title>
    <link th:href="@{/css/menu.css}" rel="stylesheet"/>
    <meta http-equiv="content-type" charset="UTF-8" content="application/json">
    </meta>
</head>
<body>

<form action="/login" method="post" th:align="center">
    <h2>请输入您线下获得用户名以及口令：</h2>
    <hr/>
    <fieldset>
    用户名:
    <input type="text" name="name" /><br/>
    <br/>
    口令:
    <input type="text" name="keyword"/><br/>
    <br/>
    </fieldset>
    <hr/>
    <p align="center">
        <input type="submit" value="提交" size="30px"/>
    </p>

</form>
</body>
</html>