<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业就业情况</title>
</head>
<body>
<form>
    <fieldset>
        <fieldset>
        20.您的企业提供多少工作岗位（包括业主本人）：<input type="number" size="5">个<br>
        <br/>
        21.请填写下面有关工人情况的表格：<br>
        <br/>
            <table border="1">
                <tr>
                    <th>职工人数</th>
                    <th>在企业的主要工作</th>
                    <th>每周工作小时</th>
                    <th>支付工资</th>
                    <th>不支付工资</th>
                    <th>如果是家庭成员，请打钩</th>
                    <th>性别</th>
                </tr>
                <tr>
                    <th>自身</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td> </td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
                <tr>
                    <th>1个工人</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td><input type="radio"></td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
                <tr>
                    <th>2个工人</th>
                    <td><input type="text" ></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td><input type="radio"></td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
                <tr>
                    <th>3个工人</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td><input type="radio"></td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
                <tr>
                    <th>4个工人</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td><input type="radio"></td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
                <tr>
                    <th>5个工人</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td><input type="radio"></td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
                <tr>
                    <th>6个工人</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td><input type="radio"></td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
                <tr>
                    <th>7个工人</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td><input type="radio"></td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
                <tr>
                    <th>七人以上</th>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="radio" name="is_pay" value="是"></td>
                    <td><input type="radio" name="is_pay" value="否"></td>
                    <td><input type="radio"></td>
                    <td>男<input type="radio" name="sex" value="男"> 女<input type="radio" name="sex" value="女"></td>
                </tr>
            </table>
            </fieldset>
        <fieldset>
            22.您对在您企业中的工作的人员的劳动条件和福利待遇做如何评价？（打勾）<br>
            <br/>
            <table border="1">
                <tr>
                    <th>选项/程度</th>
                    <th>好，无需改进</th>
                    <th>不错，需要做小的改进</th>
                    <th>不好，需要做大的改进</th>
                    <th>差，不满意/工作没有做</th>
                </tr>
                <tr>
                    <td>工人的工资水平</td>
                    <td><input type="radio" name="degree" value="好，无需改进"></td>
                    <td><input type="radio" name="degree" value="不错，需要做小的改进"></td>
                    <td><input type="radio" name="degree" value="不好，需要做大的改进"></td>
                    <td><input type="radio" name="degree" value="差，不满意/工作没有做"></td>
                </tr>
                <tr>
                    <td>工人的劳动合同</td>
                    <td><input type="radio" name="degree" value="好，无需改进"></td>
                    <td><input type="radio" name="degree" value="不错，需要做小的改进"></td>
                    <td><input type="radio" name="degree" value="不好，需要做大的改进"></td>
                    <td><input type="radio" name="degree" value="差，不满意/工作没有做"></td>
                </tr>
                <tr>
                    <td>参加社会保险</td>
                    <td><input type="radio" name="degree" value="好，无需改进"></td>
                    <td><input type="radio" name="degree" value="不错，需要做小的改进"></td>
                    <td><input type="radio" name="degree" value="不好，需要做大的改进"></td>
                    <td><input type="radio" name="degree" value="差，不满意/工作没有做"></td>
                </tr>
                <tr>
                    <td>商业医疗保险或其他商业保险</td>
                    <td><input type="radio" name="degree" value="好，无需改进"></td>
                    <td><input type="radio" name="degree" value="不错，需要做小的改进"></td>
                    <td><input type="radio" name="degree" value="不好，需要做大的改进"></td>
                    <td><input type="radio" name="degree" value="差，不满意/工作没有做"></td>
                </tr>
                <tr>
                    <td>雇员的年假安排</td>
                    <td><input type="radio" name="degree" value="好，无需改进"></td>
                    <td><input type="radio" name="degree" value="不错，需要做小的改进"></td>
                    <td><input type="radio" name="degree" value="不好，需要做大的改进"></td>
                    <td><input type="radio" name="degree" value="差，不满意/工作没有做"></td>
                </tr>
                <tr>
                    <td>工人在企业决策中的意见参加</td>
                    <td><input type="radio" name="degree" value="好，无需改进"></td>
                    <td><input type="radio" name="degree" value="不错，需要做小的改进"></td>
                    <td><input type="radio" name="degree" value="不好，需要做大的改进"></td>
                    <td><input type="radio" name="degree" value="差，不满意/工作没有做"></td>
                </tr>
                <tr>
                    <td>工人的培训和其他发展机会</td>
                    <td><input type="radio" name="degree" value="好，无需改进"></td>
                    <td><input type="radio" name="degree" value="不错，需要做小的改进"></td>
                    <td><input type="radio" name="degree" value="不好，需要做大的改进"></td>
                    <td><input type="radio" name="degree" value="差，不满意/工作没有做"></td>
                </tr>
                <tr>
                    <td>其他利益，例如：<input type=""></td>
                    <td><input type="radio" name="degree" value="好，无需改进"></td>
                    <td><input type="radio" name="degree" value="不错，需要做小的改进"></td>
                    <td><input type="radio" name="degree" value="不好，需要做大的改进"></td>
                    <td><input type="radio" name="degree" value="差，不满意/工作没有做"></td>
                </tr>
            </table>
        </fieldset>
        <p align="center">
            <input type="button" name="button1" value="上一步">
            <input type="button" name="button2" value="下一步 ">
        </p>
    </fieldset>
</form>
</body>
</html>