<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>企业管理知识</title>
</head>
<body>
 <form>
     <fieldset>
         <fieldset>
             您是否知道下列企业管理知识（请已经有企业的学员作答；没有企业的学员回答将如何应对这些问题）<br/>
         </fieldset>
         <fieldset>
             23.在下面的的空白处简单写出答案<br/>
         </fieldset>
         <fieldset>
             23.1请列出计算产品的总成本应考虑所有的不同成本。<br/>
         </fieldset>
         <fieldset>
         <textarea rows="10" cols="50"></textarea>
         </fieldset>
         <fieldset>
             23.2企业计划主要由哪几个部分构成？<br/>
         </fieldset>
         <fieldset>
             <textarea rows="10" cols="50"></textarea>
         </fieldset>
         <fieldset>
             23.3市场营销计划有哪几个部分？<br/>
         </fieldset>
         <fieldset>
             <textarea rows="10" cols="50"></textarea>
         </fieldset>
         <fieldset>
             23.4 请尽量列出你知道的职工的保险福利种类<br/>
         </fieldset>
         <fieldset>
             <textarea rows="10" cols="50"></textarea>
         </fieldset>
         <fieldset>
             23.5 安全和卫生的工作环境由什么构成？<br/>
         </fieldset>
         <fieldset>
             <textarea rows="10" cols="50"></textarea>
         </fieldset>
     </fieldset>
     <p align="center">
         <input type="button" name="button1" value="上一步">
         <input type="button" name="button2" value="提交" >
     </p>
 </form>
</body>
</html>