<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业经营现状</title>
</head>
<body>
<form action="">
    <fieldset>
        19.您估算一下您的资产现值是多少金额？<br>
        <br/>
        机械/工具/设备：<input type="text" name="asset" size="30">
                    ¥<input type="text" size="30" name="money"><br>
        <br/>
        车辆/其他交通工具：<input type="text" name="asset" size="30">
                    ¥<input type="text" size="30" name="money"><br>
        <br/>
        属于企业的土地：<input type="text" name="asset" size="30">
                    ¥<input type="text" size="30" name="money"><br>
        <br/>
        属于企业的建筑：<input type="text" name="asset" size="30">
                    ¥<input type="text" size="30" name="money"><br>
        <br/>
        其他，请说明： <input type="text" name="asset" size="30">
                    ¥<input type="text" size="30" name="money"><br>
        <br/>
    </fieldset>
    <p align="center">
        <input type="button" name="button1" value="上一步" onclick="window.location.href='../templates/student/information.html'">
        <input type="button" name="button2" value="下一步" onclick="window.location.href=''">
    </p>

</form>
</body>
</html>