<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
             <mapper namespace="com.wangmiao.demo.dao.PileMapper">
            <select id="selectPilesByLimit" resultType="com.wangmiao.demo.pojo.Pile">
               SELECT
                  id,
                  electric_quantity as electricQuantity,
                  start_time as startTime,
                  end_time as endTime,
                  cost,
                  sales_amount as salesAmount,
                  profit
                from t_pile LIMIT #{beginRow} , #{qty}
            </select>
    </mapper>